* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2 {
    color: #fff;
    margin: 100px 0;
    font-size: 60px;
}

.banner .content p {
    color: #fff;
    font-size: 18px;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.banner header img {
    max-height: 35px;
}

.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.banner header .together {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner header .together img {
    margin-right: 35px;
}

.banner header .toggle {
    margin: 10px;
    position: relative;
    width: 36px;
    height: 27px;
    background: url(toggle.png);
    background-size: cover;
    cursor: pointer;
}

.certificados,
.projetos,
.habilidades,
.contato {
    position: relative;
    width: 100%;
    display: flex;
}

.certificados .contentBx {
    background: white;
    padding: 100px;
    width: 50%;
    text-align: justify;
}

.certificados .imgBx, .projetos .imgBx {
    width: 50%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.certificados .imgBx img, .projetos .imgBx img {
    width: 49%;
    border: 1px solid grey;
}

.projetos .contentBx {
    background: black;
    padding: 100px;
    width: 50%;
    text-align: justify;
}

.projetos .imgBx {
    background: black;
}

.habilidades .contentBx1,
.habilidades .contentBx2 {
    background: white;
    padding: 100px;
    width: 50%;
    text-align: justify;
}

.habilidades .contentBx2 .heading {
    visibility: hidden;
}

.contato .contentBx1,
.contato .contentBx2 {
    background: black;
    padding: 100px;
    width: 50%;
    text-align: justify;
}

.heading {
    color: black;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.headingWhite {
    color: white;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: black;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.textWhite {
    color: white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.space {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {

    .certificados,
    .projetos,
    .habilidades,
    .contato {
        position: relative;
        width: 100%;
        display: block;
    }

    .certificados .contentBx, .projetos .imgBx {
        padding: 25px;
        width: 100%;
    }
    
    .certificados .imgBx, .projetos .imgBx {
        width: 100%;
    }

    .projetos {
        display: flex;
        flex-direction: column-reverse;
    }

    .projetos .contentBx {
        padding: 25px;
        width: 100%;
    }

    .habilidades .contentBx1 {
        padding: 25px 25px 0 25px;
        width: 100%;
    }

    .habilidades .contentBx2 {
        padding: 0 25px 25px 25px;
        width: 100%;
    }

    .habilidades .contentBx2 .heading {
        display: none;
    }

    .contato .contentBx1,
    .contato .contentBx2 {
        padding: 25px;
        width: 100%;
    }

    .contato .contentBx1 {
        width: 100%;
        padding-bottom: 0;
    }

    .contato .contentBx2 {
        width: 100%;
        padding-top: 0;
    }

    .contato .contentBx2 .heading {
        display: none;
    }

    .banner header {
        padding: 10px 25px;
    }

    .banner .content {
        padding: 25px
    }

}